// ALL MEDIA QUERIES

@media screen and (max-width: 932px) {
  html {
    font-size: 60%;
  }
  .navbar {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }

  .hero {
    h2 {
      text-align: center;
    }
    h3 {
      margin-bottom: 2.2rem;
      text-align: center;
    }
  }
}
