/*

      DESIGN SYSTEM

      
*/

/* COLORS
------------------------------------


------------------------------------

************************************/
$color-primary: #0fcb0f;
$color-primary-light: #4df64d;
$color-primary-dark: #025702;

// FONTS
$main-font: 'Ubuntu', sans-serif;
$gwt-font: 'Gloria Hallelujah', cursive;
$logo-font: 'Short Stack', cursive;
// GREYS

$grey-light-gr: #dcdada49;
$white: #fff;
$grey-dark: #4d4c4c;
$grey-dark-gr: #4d4c4c40;
$black: #000000;

// HEADING
$h1-fz: 2.6rem;
$h2-fz: 4.8rem;
$h3-fz: 3rem;
$h4-fz: 2.8rem;
$h5-fz: 2.8rem;
// PARAGRAPHS
$group-fz: 2rem;

// LISTS
// BUTTONS

// LABEL

// INPUT

// SPACING

// Body Fonts Scale h1,paragraphs

// Fonts-Size

// Font Weight

// Spacing (line-height)
